@charset "UTF-8";

body{
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  text-align: center;
}

h2{
  margin-top: 0px;
}

.comprar{
  background: #a8f;
  color: #103;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
}

.item{
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  padding: 20px;
  border-radius: 4px;
  display: grid;
}

.grid{
  display: grid;
  grid-template-columns: 300px 300px 300px; /*Evite o uso de '%' em grid.*/
  gap: 20px;
  justify-content: center;

  /*
  (start | center | end | stretch | space-between | space-around | space-evenly)
  Align-content => alinhamento na vertical.
  Justify-content => alinhamento horizontal. 
  */
}
