@charset "UTF-8";

body{
  background-image: linear-gradient(to right, #f85e00, #ffb563, #ffd29d);
  font: normal 15pt Arial;
}
header{
  color: white;
  text-align: center;
}
section{
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.342);
}
img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.342);
}
footer{
  color: white;
  text-align: center;
  font-style: italic;
}